# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# IDE settings
.vscode/
.idea

/repl_state
pkgutil





